<section id="applications">
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <ul class="applications-list">
        {{#each applications}}
            {{> applications/show.html }}
        {{else}}
            <li class="empty">No applications</li>
        {{/each}}
    </ul>
    <a href="/applications/new">New</a>
  </div>
  <div class="col-md-2"></div>
</div>
</section>