<section id="applications">
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <ul class="applications-list">
        {{#each applications}}
            {{> applications/_client_application.html }}
        {{else}}
            <li class="empty">No applications</li>
        {{/each}}
    </ul>
    <div class="pull-left"><a href="/applications/new"><button class="btn btn-primary">New</button></a></div>
  </div>
  <div class="col-md-2"></div>
</div>
</section>