<section id="new_application_form">
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form role="form" action="/applications" method="post" class="client_application">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" value="{{name}}">
            </div>
        
            <input type="hidden" class="csrf_token" value="{{csrf_token}}" name="csrf_token">
        
            <button type="submit" class="btn btn-default pull-left">Save</button>
            
            <!-- TODO make cancel button go back to referer -->
            <button type="cancel" class="btn pull-right" name="cancel" value="true">Cancel</button>
            
            <div class="clearfix"></div>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>
</section>
