<div class="permission">
    <div class="form-group">
        <input type="checkbox" class="form-control" id="permission-check-{{name}}" name="permissions" value="{{name}}" checked="checked">
        <div class="name">{{ name }}</div>
    </div>
    
</div>