<section id="grants">
    <h2>Applications with Access to My Profile</h2>
    <ul class="grants-list">
        {{#each grants}}
            {{> grants/show.html }}
        {{else}}
            <li class="empty">No permission grants</li>
        {{/each}}
    </ul>
</section>