<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Rust OpenId Connect</title>

    <meta name="description" content="Rust OpenId Connect">
    
    <link href="/css/app.css" rel="stylesheet">
    
    <script src="/js/app.js">
    </script>
</head>
<body>
    <div class="container-fluid">
    {{> nav.html}}
    {{> header.html}}
    {{> (view)}}
    <div class="row spacer"></div>
    {{> footer.html}}
    </div>
</body>
</html>