	<div class="row footer">
				<div class="col-md-4">
				</div>
				<div class="col-md-4">
					<ul>
						<li>Code: <a href="https://github.com/cmsd2/rust-openid-connect">github.com/cmsd2/rust-openid-connect</a></li>
					</ul>
				</div>
				<div class="col-md-4">
				</div>
			</div>
</div>