    <div class="row header">
        <div class="col-md-12">
            <div class="row hero">
				<div class="col-md-2">
				</div>
				<div class="col-md-8">
					<div class="jumbotron well">
						<h2>
							Rust OpenId Connect
						</h2>
						<p>
							An OpenId Connect Identity Provider webservice and SDK implemented in Rust.
						</p>
						<p class="text-center">
							<a class="btn btn-primary btn-lg get-started-cta" href="#">Get Started</a>
						</p>
					</div>
				</div>
				<div class="col-md-2">
				</div>
			</div>
		</div>
	</div>
  
<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
			<div class="row features">
				<div class="col-md-4 feature">
					<h2>
						Self-Hosted Identity Provider
					</h2>
					<p>
						Rust OpenId Connect runs as a standalone web service on premises or in the cloud.
					</p>
					<p>
						<a class="btn" href="#">View details »</a>
					</p>
				</div>
				<div class="col-md-4 feature">
					<h2>
						OpenId Connect SDK
					</h2>
					<p>
						Use RustOpenIdConnect as an SDK in your application to add OpenId Connect functionality.
					</p>
					<p>
						<a class="btn" href="#">View details »</a>
					</p>
				</div>
				<div class="col-md-4 feature">
					<h2>
						Integrate with OpenId Connect clients
					</h2>
					<p>
						The RustOpenIdConnect Identity Provider server implements the core and discovery OpenId Connect specifications.
						Integrate your OpenId Connect enabled applications to add secure authentication and authorisation flows.
					</p>
					<p>
						<a class="btn" href="#">View details »</a>
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-2">
		</div>
</div>
