<section id="login_form">
    <div class="container">
        <form role="form" action="/login" method="post">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" name="username">
            </div>
        
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
        
            <input type="hidden" class="csrf_token" value="{{csrf_token}}" name="csrf_token">
        
            <input type="hidden" class="return" value="{{return}}" name="return">
            
            <button type="submit" class="btn btn-default">Login</button>
            
            <!-- TODO make cancel button go back to referer -->
            <button type="cancel" class="btn pull-right">Cancel</button>
        </form>
    </div>
</section>
