<section id="login_form">
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2>Register</h2>
        <form role="form" action="/register" method="post">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" name="username">
            </div>
        
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            
            <div class="form-group">
                <label for="password">Confirm Password:</label>
                <input type="password" class="form-control" id="password_confirmation" name="password_confirmation">
            </div>
        
            <input type="hidden" class="csrf_token" value="{{csrf_token}}" name="csrf_token">
        
            <button type="submit" class="btn btn-default">Register</button>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>
</section>
