body {
  background: #333;
}

.row.features, .features .feature {
  background: #eee;
}

.row.hero, .row.hero .jumbotron {
  background: #333;
  border: none;
  color: white;
}

.row.header, .row.footer {
  background: #333;
}

.row.footer {
  color: #bbb;
  padding: 20px 0px;
}

.row.footer ul {
  list-style: none;
}

.hero .jumbotron {
  padding: 0px;
}

.row {
  background: white;
  padding-bottom: 20px;
}
